<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>
    Countries Been is an app that will help you track the countries you have visited.
    <br>
    It helps you to find capitals of countries, make statistics of how many countries you have vistied and many more.
  </p>
  <br>
  <br>
  <br>
  <br>

<div text-center>
  <img style="width: 40%" height="20%" src="\assets\img\logo1.png">
</div>
  <div text-center>

    <p>Created by:<br><b>Androtek</b></p>
    <br>
    <p>Phone<br>+38970555555</p>
    <p>Email<br>Androtek@hotmail.com</p>

  </div>
</ion-content>
