<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Statistics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>How many countries have you visited</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div id="chartdiv1"></div>
      <p>You have visited visited <span style="font-style: italic">{{this.visited.length}}</span> countries out of <b>245</b>,Keep it up!</p>
    </ion-card-content>
  </ion-card>
</ion-content>
